<%= link_to 'Back', terms_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		 <div class="panel panel-default">
		 		<div class="panel-heading center">
				  <h2><%= @term.description %></h2>
				</div>
				<div class="panel-body">
					<p><%= @term.user.email if @term.user %></p>
					<% if @term.user == current_user %>
						<%= link_to 'Edit', edit_term_path(@term) %> |
					<% end %> 
			</div>
		</div>
	</div>
</div>